/*----------------------------HEADER-------------------------*/
* {
        box-sizing: border-box;
        width: auto;
        height: auto;
    }
.contactanos{
    background-color: #ff9933;
    padding: 1rem;
    height: 4rem;
    margin: auto;
}
.contacto{
    margin: auto;
    text-align: center;
    font-size: x-large;
    font-family:'Quicksand', sans-serif;
    color: rgb(126, 56, 10);

}
/*----------------------------BODY-------------------------*/
#form_contact{
    display: grid;
    grid-template-columns: 2fr 2fr;
    background-color: #ffb055;
    padding: 2rem;
    align-items: end;
}
#form_contact label{
    width: 300px;
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}
#form_contact input{
    width: 80%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: rgb(126, 56, 10);
    border-bottom: 1px solid rgb(126, 56, 10);
}
#form_contact textarea{
    width: 90%;
    border: none;
    background: none;
    outline: 0;
    color: rgb(126, 56, 10);
    border-bottom: 1px solid rgb(126, 56, 10);
}
#form_contact button{
    background: #ff9933;
    border: 0;
    color:rgb(126, 56, 10) ;
    text-transform: uppercase;
    padding: 1rem;
    width: 80%;
}
#form_contact button:hover,
#form_contact button:focus{
    background: rgb(126, 56, 10);
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}
#form_contact p{
    font-family:'Quicksand', sans-serif;
    color: rgb(126, 56, 10);
}

/*----------------------------FOOTER-------------------------*/
#contacto_info{
    background-color: #ff9933;
    padding: 0.5rem;
    margin-top: auto;
    font-family:'Quicksand', sans-serif;
}
#contacto_info h4{
    color: rgb(116, 46, 0);
    font-size: large;
    text-align: center;
}
#contacto_info ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
}
#contacto_info ul li{
    padding-bottom: 1rem;
    text-align: center;
    color: rgb(116, 46, 0);
}

