/*----------------INDEX----------------*/
header, section, footer{
    width: 960px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;

}

.index{
    background-color: #ff9933;
    height: 4rem;
}

/*----------------------------HEADER-------------------------*/
/*--------564r-------*/ 
#nombreMarca{
    width: 15rem; 
    height: 7rem;
    float: left;
}
h2{
    font-size:x-large;
    font-family:'Quicksand', sans-serif;
    color: rgb(126, 56, 10);
    text-align: center;
}
#btn_inicio{
    width: 25rem;
    height: 5rem;
    float: right;
}
.btn_iniciales{
    text-align: center;
    list-style-type: none;
    display: flex;
    margin-top: 1.5rem;
    font-size: small;
}
li a{
    text-decoration: none;
    padding: 0.2rem;
    text-align: center;
    color: rgb(126, 56, 10);
    font-family:'Quicksand', sans-serif;
}
.btn_iniciales li a:hover{
    background-color: #f89626;
}
#inicio{
    height: 800px;
    background-color: #c0ecd3;
}
#img_inicio{
    width: 960px;
    height: 15rem;
    background-color: rgb(10, 10, 10);
    background-image: url(./imagenes/niteroi\ recort.png);
    background-repeat:no-repeat;
    background-size: cover;
}
/*------------------BODY---------------------*/
#img_izq{
    width: 350px;
    height: 20rem;
    background-color: black;
    float: left;
    background-image: url(./imagenes/vista-noturna-do-parque.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
#contenido_inicio{
    width: 260px;
    height: 20rem;
    background-color: #f89626;
    float: left;
}
.titulo_text{
    font-size: medium;
    text-align: center;
    font-family:'Quicksand', sans-serif;
    color:rgb(126, 56, 10);
}
.text_inicio{
    font-size: medium;
    font-family:'Quicksand', sans-serif;
    text-align: center;
    color: rgb(126, 56, 10);
}
#img_der{
    width: 350px;
    height: 20rem;
    background-color: rgb(14, 13, 13);
    float: left;
    background-image: url(./imagenes/img.jpeg);
    background-position: center;
    background-repeat: no-repeat;
}
#contenido_completo{
    width: 960px;
    height: 15rem;
    background-color: #ffb055;
    clear: both;
}
.text_completo {
    font-size: medium;
    color:rgb(126, 56, 10) ;
    font-family:'Quicksand', sans-serif;
    text-align: center;
    padding-top: 3.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
/*-------------------------FOOTER--------------------------*/
footer{
    height: 6rem;
    background-color: #ff9933;
}
#datos_adicionales{
    width: 25rem;
    height: 6rem;
    background-color: #ff9933;
    float: left;
    font-family:'Quicksand', sans-serif;
    padding-left: 0.5rem;
    color:rgb(126, 56, 10) ;
    font-size: small;
}
h6{
    color: black;
    text-align: center;
    font-style: inherit;
}
#btn_redes{
    width: 15rem;
    height: 3rem;
    background-color: #ff9933;
    float: right;
    margin-right: 0.4rem;
    margin-top: 0.4rem;
}
.btn_finales{
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
    font-size: small;
    margin-left: 0rem;
    padding: auto;
}
.btn_finales li a{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: rgb(126, 56, 10);
    font-style: oblique;
    font-family:'Quicksand', sans-serif;
}
.btn_finales li a:hover{
    background-color: #fc8e10;
}
